@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.badge {
  position: absolute;/* Adjust this value to position horizontally */
  background-color: white; /* Adjust the background color as needed */
  color: #393280;
  border-radius: 50%;
  text-align: center;
  padding-bottom: 15px;
 top: 30%;
  height: 1.5rem; /* Adjust the size as needed */
  width: 1.5rem;  /* Adjust the size as needed */  
  font-size: 1rem; /* Adjust the font size */
   
}

